.excaildraw.json
config/config.yaml
web/node_modules/
web/dist/
/oops
/oops-nodelet
config/mcp_connections.json
config/projects.json
data/users.yml
data/events.db
data/sessions/
internal/api/data/
bin/
